form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .form-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;

        .first-name,
        .last-name {
            width: 45%;
        }

        .email,
        .phone,
        .job-title {
            width: 28%;
        }

        input {
            border-radius: 20px;
            border: 1px solid #333;
            width: 100%;
            padding: 1rem;
        }

        .error-input {
            border-color: red;
        }
    }

    button {
        padding: 1rem;
        background: rgba(240, 12, 50, 0.697);
        color: white;
        outline: none;
        border: none;
        border-radius: 20px;
    }
}