<section class="employee-board-container">

  <div class="employee-list-container">

    <div class="search-bar-container">
      <input type="text" placeholder="Search for a user..." [(ngModel)]="searchQuery" (input)="searchEmployees()">
      <button (click)="searchEmployees()">Go</button>
    </div>

    <!-- Search results -->
    <div class="search-results" *ngIf="showEmployees && !selectedEmployee">
      <div class="search-results-para" *ngFor="let employee of filteredEmployees">
        <p (click)="toggleSelectEmployee(employee)" [class.selected]="isSelected(employee)">
          {{ employee.firstName }} {{ employee.lastName }}
        </p>
      </div>
    </div>

    <!-- Selected employees -->
    <div class="selected-employees" *ngIf="selectedEmployees.length > 0">
      <div class="selected-employees-item" *ngFor="let employee of selectedEmployees">
        <p>{{ employee.firstName }} {{ employee.lastName }}</p>
        <p>{{ employee.jobTitle }}</p>
        <p>{{ employee.phone }}</p>
        <p>{{ employee.email }}</p>
        <!-- <button (click)="removeSelectedEmployee(employee)">x</button> -->
      </div>
    </div>
  </div>

  <app-add-employee-form class="employee-form" *ngIf="showAddForm"
    (formSubmitted)="submitForm($event)"></app-add-employee-form>
  <button class="add-employee-btn" (click)="toggleAddForm()">New User *</button>

  <div *ngIf="showPopup" class="popup">
    <button class="popup-content" (click)="hidePopup()">
      New user added! X
    </button>
  </div>

</section>